

.customDiv{
    width: 70%;
    height: 100%;
    background-color: darkgray;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.customDiv2{
    width: 100%;
    height: 100%;
    background-color: darkgray;
    position: center;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

table.customTable{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}
.buttonTd{,

}

.userInput {
    margin: 1px;
    padding: 1px;
    resize: none;

}
table.customTable tr{
    border: 2px solid black;
}
table.customTable td{
    border: 2px solid black;
    text-align: center;
}



.customTable.customTableTr{
    border: 2px solid black;
}

.leftTh{
    width: 8%;
    padding-left: 10%;
    text-align: center;
    border: 2px solid black;

}

#contentType {
    width: 100%!important;
    height: 100%!important;
}

h3{
    color: aliceblue;
}
.vl {
    border-left: 6px solid black;
}
ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-evenly;
    width: 100%;
    background: brown;
    margin: 0;
    padding: 0;
}
li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    text-align: center;
    background: transparent;
}
.header{
    justify-content: space-around;
}

.sizedMiniBox {
    padding-right: 30px;
}

.center {
    margin: auto;
    padding-left: 50%;
    justify-content: space-around;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
